<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary.Properties.Settings.LojaConnectionString"
            connectionString="Data Source=DESKTOP-J2RJIJN\SQLEXPRESS;Initial Catalog=Loja;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>